
:root {
    --dark-bg-color-primary: #1d1d27;
    --dark-bg-color-secondary: #2b2b35;
    --dark-bg-color-important: #fe365f;
    --dark-bg-color-hover: #17171f;

    --dark-text-color-primary: #eeeeee;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
