
:root {
    --dark-bg-color-primary: #1d1d27;
    --dark-bg-color-secondary: #2b2b35;
    --dark-bg-color-important: #fe365f;
    --dark-bg-color-hover: #e6274e;

    --dark-text-color-primary: #eeeeee;
    --dark-text-color-important: #fe365f;

    --light-bg-color-primary: #f1f2f4;
    --light-bg-color-secondary: #ffffff;
    --light-bg-color-third: #e2e6e9;
    --light-bg-color-important: #f36d00;
    --light-bg-color-hover: #e06704;

    --light-text-color-primary: #1a202c;
    --light-text-color-secondary: #ffffff;
    --light-text-color-important: #f36d00;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
