
:root {
    --dark-bg-color-primary: #12141c;
    --dark-bg-color-secondary: #171923;
    --dark-bg-color-important: #ff2d20;
    --dark-bg-color-hover: #eb2a1e;

    --dark-text-color-seconday: #a6a6ae;
    --dark-text-color-primary: #e7e8f2;
    --dark-text-color-important: #ff2d20;

    --light-bg-color-primary: #f1f2f4;
    --light-bg-color-secondary: #ffffff;
    --light-bg-color-third: #e2e6e9;
    --light-bg-color-important: #f36d00;
    --light-bg-color-hover: #e06704;

    --light-text-color-primary: #1a202c;
    --light-text-color-secondary: #ffffff;
    --light-text-color-important: #f36d00;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
